* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.header {
    background-image: url(images/background-img1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
    min-height: 100vh;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
}

h1, .hero, a{
    margin: 0;
    color:  whitesmoke;
}

h1 {
    font-size: 56px;
    font-weight: 800px;
    margin-left: 45px;
    white-space: nowrap;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    flex: 1;
}

.menu ul{
    display: flex;
    gap: 50px;
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
    margin-left: 75px; 
    flex-wrap: wrap;
}

.menu li {
    white-space: nowrap;
}

.icons {
    display: flex;
    gap: 15px;
    margin-left: 275px;
    margin-top: 30px;
    font-size: 30px;
}

.hero {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 150px;
}

.hero .big {
    font-size: 9vh;
    
}

.hero #small {
    font-size: 24px;
}

.hero p {
    margin: 0;
}

button {
    background-color: darkgreen;
    height: 75px;
    width: 225px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

.content, .third {
    background-color: antiquewhite;
}

.content {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: auto;
    padding-right: 200px;
    padding-top: 80px;
}

h3 {
    margin: 0;
    color: brown;
    padding-bottom: 40px;
}

h2, h4{
    font-size: 40px;
    margin: 0;
    font-weight: 550;
}

.para {
    line-height: 2.1;
    color: grey;
    font-size: 18px;
}

#cappu {
   position: relative;
   bottom: 85vh;
   left: 20vh;
   width: 50vh;
   height: 65vh;
} 

#outside {
    position: relative;
    width: 50vh;
    height: 50vh;
    bottom: 110vh;
    left: 45vh;
}

.grey {
    color: #555555;
}

.secondary {
    background-color: white;
    height: 90vh;
}

.post {
    width: 50vh;
    height: 65vh; 
}

.pictures {
    margin-top: 6vh;
    display: flex;
    justify-content: center;
    gap: 5vh;
}

.secondary h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
    font-weight: 400;
    font-size: 50px;
    margin-top: 50px;
}

.main h4 {
    font-size: 20px;
}

#board {
    position: relative;
    bottom: 60vh;
    left: 20vh;
    width: 50vh;
    height: 65vh;
}

#seating {
    position: relative;
   bottom: 40vh;
   right: 5vh;
   width: 45vh;
   height: 50vh;
}